@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-background: #437ef7;
    --primary-foreground: #ffffff;
    --primary-light: #6c9eff;
    --primary-dark: #2b63d9;

    /* Secondary Colors */
    --secondary-background: #ffffff;
    --secondary-foreground: #272d37;
    --secondary-light: #f8f9fb;
    --secondary-dark: #5f6d7e;

    /* Accent Colors */
    --accent-color: #151b27;
    --accent-foreground: #f9f9f9;
    --accent-light: #2b3344;
    --accent-dark: #0f141e;

    /* Border Colors */
    --border-primary: #dae0e6;
    --border-secondary: #648ef7;
    --border-light: #e0e0e0;
    --border-dark: #2e3445;
  }
}

@layer utilities {
  /* Background Color Utilities */
  .bg-primary-blue {
    background-color: var(--primary-background);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .bg-secondary-white {
    background-color: var(--secondary-background);
  }

  .bg-secondary-light {
    background-color: var(--secondary-light);
  }

  .bg-secondary-dark {
    background-color: var(--secondary-dark);
  }

  .bg-accent-dark {
    background-color: var(--accent-color);
  }

  .bg-accent-light {
    background-color: var(--accent-light);
  }

  /* Text Color Utilities */
  .text-primary-white {
    color: var(--primary-foreground);
  }

  .text-secondary-dark {
    color: var(--secondary-foreground);
  }

  .text-secondary-gray {
    color: var(--secondary-dark);
  }

  .text-accent-white {
    color: var(--accent-foreground);
  }

  /* Border Color Utilities */
  .border-primary {
    border-color: var(--border-primary);
  }

  .border-secondary {
    border-color: var(--border-secondary);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .border-dark {
    border-color: var(--border-dark);
  }
}